{% extends "tcc2/base.html" %}
        {% block title %}The College Cartel | Fetched Posts{% endblock %}
    
    {% block content %}
        <h1>Grabbed These Links</h1>
        {% for site, site_data in all_data.items %}
        <div class="col">    
            <img src="/static/img/titles/{{ site }}.jpg" />
            {% for post in site_data.posts.values %}
            <a href='{{ post.link }}' target='_blank'><div class='item new'>
                {{ post.title }}
		    </div></a><!-- {{ post.date }} & {{ post.img_url }} -->
            {% endfor %}
        </div>
        {% endfor %}
    {% endblock %}